:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(283, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate--cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1080px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: Raleway;
    font-weight: 700;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: 400;
}

header nav ul li a {
    text-decoration: none;
}

footer {
    color: white;
    background-color: var(--very-dark-blue);
}